@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;700&family=Satisfy&display=swap");

.hero-section {
  min-height: 700px;
  background: #ec663d;
}
.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Satisfy", cursive;
  margin-left: 135px;
}
.hero__content-2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  color: white;
  margin-left: 135px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.card {
  position: absolute !important;
  right: 150px;
  top: 150px;
  background-color: #ffc3c3;
  z-index: 400;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 50px;
  margin-right: 6px; 
}

.card2 {
  position: absolute !important;
  top: 220px;
  right: 240px;
  border-radius: 10px;
  background-color: #ffc3c3;
  z-index: 200;
}
.card3 {
  position: absolute !important;
  width: 270px;
  height: 224px;
  top: 450px;
  right: 370px;
  /* background: #F49B3F; */
  border-radius: 25px 30px 40px 20px;
  z-index: 100;
}
